<!-- .footer-wrapper start -->
<section id="footer-wrapper">
    <footer id="footer">
        <!-- container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <!-- .footer-widget-container start -->
                <ul class="col-md-3 footer-widget-container">
                    <li class="widget widget_text">
                        <h5>iCurtain NZ</h5> <img class="float-left" src="img/pictures/footer-3d-box.png" alt="Kreator Ultimate HTML5 Template" />
                        <p> Our staff are experts in curtains and are here to help you find the perfect fabric and style to finish your room or just provide a bit of inspiration. </p>
                    </li>
                    <!-- .widget.widget_text end -->
                </ul>
                <!-- .col-md-3.footer-widget-container -->
                <ul class="col-md-3 footer-widget-container">
                    <li class="widget widget_text">
                        <h5>latest facebook</h5>
                        <div class="fb-page" data-href="https://www.facebook.com/iCurtainnz" data-width="250" data-height="160" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/iCurtainnz"><a href="https://www.facebook.com/iCurtainnz">ICurtain Ltd.</a></blockquote>
                            </div>
                        </div>
                    </li>
                    <!-- .widget#tweetscroll-wrapper end -->
                </ul>
                <!-- .col-md-3.footer-widget-container end -->
                <ul class="col-md-3 footer-widget-container cushycms">
                    <ul>
                        <li class="widget widget_text widget_contact">
                            <h5>contact info</h5>
                            <address>
                                <ul>
                                    <li><strong>Address: </strong> Unit B, 239 Burswood Drive East Tamaki, Auckland</li>
                                    <li><strong>Phone: </strong> <a href="tel:09 600 20 07">09 600 20 07</a></li>
                                    <li><strong>Mail:</strong> <a href="mailto:">info@icurtain.co.nz</a></li>
                                </ul>
                            </address>
                        </li>
                        <!-- .widget.widget_text end -->
                    </ul>
                </ul>
                <!-- .col-md-3.footer-widget-container end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </footer>
    <!-- #footer end -->
    <!-- .copyright-container start -->
    <section id="copyright-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <img class="float-left" src="img/logo.png" alt="iCurtains" />
                    <!-- <p>Designed and Developed by <a href="www.zenactive.co.nz">ZENACTIVE</a></p> -->
                </div>
                <!-- .col-md-6 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section>
    <!-- #copyright-container end -->
    <a href="#" class="scroll-up">Scroll</a> </section>
<!-- .footer-wrapper end -->
