<!-- #header-wrapper start -->
<div id="header-wrapper">
    <div id="top-bar">
        <div class="container">
            <ul class="contact-info">
                <li>
                    <a href="index.html">iCurtain Auckland</a>
                </li>
                <li>
                    <i class="icon-phone"></i>
                    <span>09 600 20 07</span>
                </li>
                <li>
                    <i class="icon-envelope-alt"></i>
                    <a href="contact.html">info@icurtain.co.nz</a>
                </li>
                <li>
                    <i class="icon-map-marker"></i>
                    <span>239 Burswood Drive, East Tamaki, Auckland</span>
                </li>
            </ul>
            <!-- .contact-info end -->

            <ul class="social-links">
                <li><a href="about.html">英文</a></li>
                <li><a href="about_cn.html">中文</a></li>
            </ul>
            <!-- .social-links end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- #top-bar end -->
    <!-- #header start -->
    <header id="header">
        <!-- .container start -->
        <div class="container cushycms">
            <!-- #logo start -->
            <div id="logo">
                <a href="index_cn.html"> <img src="img/logo.png" alt="iCurtain" /> </a>
            </div>
            <!-- #logo end -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown js-menu-item js-menu-item--index"><a class="navbar-toggle" href="index_cn.html">主页 </a></li>
                        <li class="js-menu-item js-menu-item--about"><a class="navbar-toggle" href="about_cn.html">关于我们</a></li>
                        <li class="js-menu-item js-menu-item--services"><a class="navbar-toggle" href="services_cn.html">服务</a></li>
                        <li class="dropdown js-menu-item js-menu-item--product"><a class="navbar-toggle" data-toggle="dropdown" href="#">产品</a>
                            <ul class="dropdown-menu">
                                <li><a href="product_drape_cn.html">窗帘</a></li>
                                <li><a href="product_blinds_cn.html">百叶窗</a></li>
                                <li><a href="product_rods_cn.html">Rods &amp; Tracks</a></li>
                                <li><a href="product_fabric_cn.html">布艺及附件</a></li>
                            </ul>
                        </li>
                        <li class="js-menu-item js-menu-item--commercial"><a href="commercial_cn.html" class="navbar-toggle">商业窗帘 </a></li>
                        <li class="js-menu-item js-menu-item--gallery"><a href="gallery_cn.html" class="navbar-toggle">产品展示 </a></li>
                        <li class="js-menu-item js-menu-item--contact"><a class="navbar-toggle" href="contact_cn.html">联系我们 </a></li>
                    </ul>
                    <!-- #search-box start -->
                </div>
            </nav>

            <!-- responsive navigation -->
            <div id="dl-menu" class="dl-menuwrapper"> <button class="dl-trigger">菜单</button>
                <ul class="dl-menu">
                    <li><a href="index_cn.html">主页</a></li>
                    <li><a href="about_cn.html">关于我们</a></li>
                    <li><a href="services_cn.html">服务</a></li>
                    <li> <a href="#">产品</a>
                        <ul class="dl-submenu">
                            <li><a href="product_drape_cn.html">窗帘</a></li>
                            <li><a href="product_blinds_cn.html">百叶窗</a></li>
                            <li><a href="product_rods_cn.html">Rods & Tracks</a></li>
                            <li><a href="product_fabric_cn.html">布艺及附件</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery_cn.html">画廊</a></li>
                    <li><a href="contact_cn.html">联系我们</a></li>
                </ul>
            </div>
        </div>
        <!-- .container end -->
    </header>
    <!-- #header end -->
</div>
<!-- #header-wrapper end -->
