<script src="js/jquery-1.11.0.min.js"></script>
<!-- jQuery Library -->
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<!-- jQuery migrate script -->
<script src="js/jquery.bootstrap.min.js"></script>
<!-- bootstrap -->
<script src="js/jquery.scripts.min.js"></script>
<!-- must be included in all files -->
<script src="js/jquery.tweetscroll.js"></script>
<!-- Tweetscroll plugin -->
<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<!-- revolution slider -->
<script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- revolution slider -->
<script src="js/jquery.isotope.min.js"></script>
<!-- jQuery isotope -->
<script src="js/portfolio.js"></script>
<!-- .portfolio custom scripts -->
<script src="sharre/jquery.sharrre-1.3.4.min.js"></script>
<!-- Sharre post plugin -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- used for image lightbox -->
<script src="js/jquery.owlCarousel.min.js"></script>
<!-- OwlCarousel for testimonial carousel -->
<script src="js/include.js"></script>
<!-- custom options -->
